# ignore jupyter checkpoints
*.ipynb_checkpoints/
*f-threshold-select/plots/.ipynb_checkpoints/
*f-threshold-select/.ipynb_checkpoints/
*.out
*.sh
.nfs*
#ignore GGLasso developer directory
brains/*
data/*
*f-threshold-select/GGLasso/
