# ignore jupyter checkpoints
*.ipynb_checkpoints/
*f-threshold-select/plots/.ipynb_checkpoints/
*f-threshold-select/.ipynb_checkpoints/
*.out
.nfs*
#ignore GGLasso developer directory

*f-threshold-select/GGLasso/
